@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import './variables';

@import '~video-react/dist/video-react.css';

.ant-form-item-has-feedback .ant-input-affix-wrapper .ant-input-suffix {
  padding-right: 32px;
}
.avatar-uploader .ant-upload.ant-upload-select-picture-card {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50px;

}
.avatar-uploader {
  width: 50px;
}
.avatar-uploader-square .ant-upload.ant-upload-select-picture-card {
  background-color: transparent;
  width: 70px;
  height: 70px;

}
.avatar-uploader-square {
  width: 70px;
}

.video-react .video-react-big-play-button.video-react-big-play-button-center {
  background-color: transparent;
  width: 68px;
  height: 68px;
  background: url('/images/play.svg') no-repeat center;
  border: none;
  border-radius: 0;


  &::before {
    display: none;
  }
}

.video-react:hover {
   .video-react-big-play-button.video-react-big-play-button-center {
     background-color: transparent;
   }
}
.ant-tabs-tab:hover  .ant-tabs-tab-btn {
    color: rgb(56, 178, 172);
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #40BFC1;
}
.ant-tabs-ink-bar {
  background: #40BFC1;
}

.ant-steps-item-active .ant-steps-item-title {
  font-weight: 700;
}
.ant-steps-item-title {
  line-height: 24px;

  &::after {
    top: 15px;
  }
}

.ant-steps-item-description {
  color: #595959;
}

.ant-steps-item-icon {
  margin-right: 14px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ant-steps-item-process .ant-steps-item-icon {
  border-color: #40BFC1;
  background: #40BFC1;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #40BFC1;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #40BFC1;
}
.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #40BFC1;
}

.ant-message-notice-content div {
  display: flex;
  align-items: center;
}

.ant-input:focus, .ant-input-focused,
.ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #d9d9d9;
  outline: none;
  box-shadow: none;
}

.ant-input::placeholder,
.ant-select::placeholder {
  font-size: .75rem;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}

.ant-btn {
  font-size: 1rem;
}

.ant-select-dropdown {
  box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
}